<table id="labData">
    <!-- column headers -->
    <thead>
    <tr>
        <th>Last Name</th>
        <th>First Name</th>
        <th>SID#</th>
        <th>Total Days</th>
        <th>Total Hours</th>
        <th>Instructor</th>
        <th>Notes</th>
    </tr>
    </thead>
    <tbody>
    <!-- data values -->
    <tr>
        <td></td>
        <td>Eva</td>
        <td>1</td>
        <td>20</td>
        <td>23:35:00</td>
        <td>Chanda</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>Jenna</td>
        <td>2</td>
        <td>1</td>
        <td>47:00:00</td>
        <td>Chanda</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>Saki</td>
        <td>3</td>
        <td>14</td>
        <td>1:05:00</td>
        <td>Chanda</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>Phoebe</td>
        <td>4</td>
        <td>14</td>
        <td>15:20:00</td>
        <td>Chanda</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>Emiliya</td>
        <td>5</td>
        <td>16</td>
        <td>19:30:00</td>
        <td>Marisela</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>Emily</td>
        <td>6</td>
        <td>1</td>
        <td>1:00:00</td>
        <td>Chanda</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>Guinevere</td>
        <td>7</td>
        <td>2</td>
        <td>2:15:00</td>
        <td>Marisela</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>Evelyn</td>
        <td>8</td>
        <td>4</td>
        <td>3:40:00</td>
        <td>Marisela</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>Kiera</td>
        <td>9</td>
        <td>4</td>
        <td>5:00:00</td>
        <td>Marisela</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>Brandyn</td>
        <td>10</td>
        <td>10</td>
        <td>10:45:00</td>
        <td>Marisela</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>Nicholas</td>
        <td>11</td>
        <td>26</td>
        <td>32:50:00</td>
        <td>Chanda</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>Katrina</td>
        <td>12</td>
        <td>28</td>
        <td>45:00:00</td>
        <td>Marisela</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>Brennan</td>
        <td>13</td>
        <td>5</td>
        <td>7:15:00</td>
        <td>Marisela</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>Juliana</td>
        <td>14</td>
        <td>3</td>
        <td>3:30:00</td>
        <td>Marisela</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>Autum</td>
        <td>15</td>
        <td>2</td>
        <td>2:15</td>
        <td>Marisela</td>
        <td></td>
    </tr>
    </tbody>
</table>
<script src="//code.jquery.com/jquery-3.3.1.js"></script>
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#labData').DataTable();
    });
</script>