<!-- navbar -->
<div class="container" id="navBar">
    <div class="col-sm-6">
        <a class="navItems" href="/355/scrumbledEggs/dataAnalysis">Lab Hours Table</a>
    </div>
    <div class="col-sm-6">
        <a class="navItems" href="/355/scrumbledEggs/dataAnalysis/students">Individual Students Lab Activities</a>
    </div>
</div>
<table id="labData">
    <!-- column headers -->
    <thead>
    <tr>
        <th>Last Name</th>
        <th>First Name</th>
        <th>SID#</th>
        <th>Date</th>
        <th>Activity</th>
        <th>Staffing Levels</th>
    </tr>
    </thead>
    <tbody>
    <!-- data values -->
    <tr>
        <td></td>
        <td>Eva</td>
        <td>1</td>
        <td>1/1/18</td>
        <td>Composition writing assistance</td>
        <td>Trained Student Tutor</td>
    </tr>
    <tr>
        <td></td>
        <td>Jenna</td>
        <td>2</td>
        <td>5/11/18</td>
        <td>Fluency Practice</td>
        <td>Multiple trained student tutors</td>
    </tr>
    <tr>
        <td></td>
        <td>Saki</td>
        <td>3</td>
        <td>2/14/18</td>
        <td>Study techniques</td>
        <td>Multiple trained student tutors</td>
    </tr>
    <tr>
        <td></td>
        <td>Phoebe</td>
        <td>4</td>
        <td>1/17/18</td>
        <td>Fluency Practice</td>
        <td>Faculty member with and M.A. or above</td>
    </tr>
    <tr>
        <td></td>
        <td>Emiliya</td>
        <td>5</td>
        <td>11/4/18</td>
        <td>Composition writing assistance</td>
        <td>Trained Student Tutor</td>
    </tr>
    <tr>
        <td></td>
        <td>Emily</td>
        <td>6</td>
        <td>1/19/18</td>
        <td>Study techniques</td>
        <td>Trained Student Tutor</td>
    </tr>
    <tr>
        <td></td>
        <td>Guinevere</td>
        <td>7</td>
        <td>1/19/18</td>
        <td>Fluency Practice</td>
        <td>Faculty member with and M.A. or above</td>
    </tr>
    <tr>
        <td></td>
        <td>Evelyn</td>
        <td>8</td>
        <td>1/19/18</td>
        <td>Grammar - 221</td>
        <td>Multiple trained student tutors</td>
    </tr>
    <tr>
        <td></td>
        <td>Kiera</td>
        <td>9</td>
        <td>9/27/18</td>
        <td>Fluency Practice</td>
        <td>Trained Student Tutor</td>
    </tr>
    <tr>
        <td></td>
        <td>Brandyn</td>
        <td>10</td>
        <td>9/29/18</td>
        <td>Fluency Practice</td>
        <td>Faculty member with and M.A. or above</td>
    </tr>
    <tr>
        <td></td>
        <td>Nicholas</td>
        <td>11</td>
        <td>1/17/19</td>
        <td>Composition writing assistance</td>
        <td>Trained Student Tutor</td>
    </tr>
    <tr>
        <td></td>
        <td>Katrina</td>
        <td>12</td>
        <td>1/17/19</td>
        <td>Study techniques</td>
        <td>Trained Student Tutor</td>
    </tr>
    <tr>
        <td></td>
        <td>Brennan</td>
        <td>13</td>
        <td>11/11/18</td>
        <td>Composition writing assistance</td>
        <td>Multiple trained student tutors</td>
    </tr>
    <tr>
        <td></td>
        <td>Juliana</td>
        <td>14</td>
        <td>1/1/19</td>
        <td>Composition writing assistance</td>
        <td>Faculty member with and M.A. or above</td>
    </tr>
    <tr>
        <td></td>
        <td>Autum</td>
        <td>15</td>
        <td>5/6/18</td>
        <td>Grammar - 121</td>
        <td>Trained Student Tutor</td>
    </tr>
    </tbody>
</table>
<script src="//code.jquery.com/jquery-3.3.1.js"></script>
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#labData').DataTable();
    });
</script>