<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="styles/templateStyles.css">
    <title>Data Analysis</title>
</head>
<body>
<header id="templateHeader">
    <a href="http://www.greenriver.edu/">
        <img src="//grcc.greenriver.edu/GRC-Template/logo.png" alt="Green River Logo">
    </a>
    <h1>STUDENT SUCCESS IN FOREIGN LANGUAGES TRACKING TOOL</h1>
</header>

<!--Include for main page content-->
<include href="{{@content}}"></include>

<footer id="templateFooter">
    <p class="rights">© 2019 GREEN RIVER COLLEGE, ALL RIGHTS RESERVED &nbsp; &nbsp; | <a
            href="https://www.greenriver.edu/privacy/">Privacy</a> | <a
            href="https://www.greenriver.edu/accessibility-disclaimer/">Accessibility &amp; Disclaimers</a> | <a
            href="https://www.greenriver.edu/consumer-information/">Consumer Information</a> | <a
            href="https://www.greenriver.edu/campus/human-resources/careers/">Careers</a></p>
</footer>
</body>
</html>